<article>
    <img src="{{imageUrl}}" alt="" srcset="">
    <div class="article-content">
        <div class="article-header">
            <span class="article-topic">{{topic}}</span>
            <span class="article-publish-date">{{publishedAt}}</span>
        </div>
        <div class="article-text">
            <h1>{{title}}</h1>
            <p>{{summary}}</p>
        </div>
        <div class="article-footer">
            <div class="article-views">
                <span class="article-number-views">{{views}}</span><br>
                <span class="article-views-text">views</span>
            </div>
            <div class="article-options">
                <span class="material-symbols-outlined">
                    bookmark
                </span>
                <span class="material-symbols-outlined">
                    share
                </span>
            </div>
        </div>
    </div>
</article>
