.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20
}
.article-footer{
    display: flex;
    justify-content: space-between;
}
.article-number-views{
    font-size: medium;
}
.article-views-text{
    color: #9A9A9A;
}