.news-container{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}
@media(min-width: 640px){
    .news-container{
        grid-template-columns: 60% 40%;
    }
}
@media(min-width: 850px){
    .news-container{
        grid-template-columns: 40% 30% 30%;
    }
}