<article [ngClass]="articleCardType">
    <img src="{{imageUrl}}" alt="" srcset="">
    <div [ngClass]="articleCardType+'-content'" class="article-content">
        <app-article-header
            [topic]="topic"
            [publishDate]="publishedAt"
        ></app-article-header>
        <div class="article-text">
            <h1>{{title}}</h1>
            <p *ngIf="articleCardType !== 'small-article'">{{summary}}</p>
        </div>
        <app-article-footer
            [views]="views"
        ></app-article-footer>
    </div>
</article>
